{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^(?!\\.).*(?<!.svg|.png|.css|.scss)$",
    "^\\..*(?<!.svg|.png|.css|.scss)$",
    "^(?!\\.).*.scss$",
    "^\\..*.scss$",
    ".*(.png|.svg)$",
    ".*"
  ]
}
